.container {
    height: 100vh
    
}
.big-picture{
    background-size: cover;
}

.beta{
    background-color: rgba(245, 245, 245, 0.5);
    padding: 10%;
}

.alpha{
    background-color: rgba(245, 245, 245, 0.5);
}

.gamma{
    background-color: rgba(245, 245, 245, 0.5);
    /* padding: 10%;    */
}