.container {
    height: 100vh
}
.big-picture{
    background-size: cover;
    /* opacity: 0.8 */
    /* display: inline */
}

 /* .alpha {
    background-blend-mode: 0.5
}

.beta {
    opacity: 0.5
}

.gamma {
    opacity: 0.5
}

.delta {
    opacity: 0.5
}  */
/* .force-to-bottom {
    position: absolute
} */